#wg_html1 {
}

#wg_html1 {
	position:relative;
	width:1000px;
	height:273px !important;
	background:url('../images/main_01.png') no-repeat;
	background-size: 100% 100%;
}

#wg_html1 .images {
    position:absolute;
	top:10px;
	left:445px;
}

#wg_html2 .images img{
    position:absolute;
	top:0px;
	left:0;    
}

#wg_html1 ol {
	list-style:none;
}

#wg_html1 .list-1 {
	position:absolute;
	top:160px;
	left:20px;
    z-index: 5;
}

